<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
        <sectionGroup name="userSettings" type="System.Configuration.UserSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" >
            <section name="NotepadSharp.Settings1" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false" />
        </sectionGroup>
    </configSections>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.7.2" />
    </startup>
    <userSettings>
        <NotepadSharp.Settings1>
            <setting name="Theme" serializeAs="String">
                <value>1</value>
            </setting>
            <setting name="Zoomfactor" serializeAs="String">
                <value>1</value>
            </setting>
            <setting name="Cursorpos" serializeAs="String">
                <value>0</value>
            </setting>
            <setting name="Prevfile" serializeAs="String">
                <value />
            </setting>
            <setting name="firstloadflag" serializeAs="String">
                <value>yes</value>
            </setting>
        </NotepadSharp.Settings1>
    </userSettings>
</configuration>